[submodule "in-toto-layout-generator"]
	path = in-toto-layout-generator
	url = git@github.com:alanssitis/in-toto-layout-generator.git
[submodule "test-project"]
	path = test-project
	url = git@github.com:alanssitis/test-project.git
