attrs==23.1.0
build==0.10.0
cffi==1.15.1
cryptography==40.0.2
in-toto==1.4.0
iso8601==1.1.0
packaging==23.1
pathspec==0.11.1
pycparser==2.21
pydantic==1.10.7
pyproject_hooks==1.0.0
python-dateutil==2.8.2
PyYAML==6.0
securesystemslib==0.28.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
requests==2.30.0
